<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.ikworx.crm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikworxlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ikworxlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="" />
        <activity android:name=".customer_view">


        </activity>
        <activity android:name=".Register_page" />
        <activity
            android:name=".user_main"
            android:label="Customers" />
        <activity
            android:name=".Product_main"
            android:label="Product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation" />
        <activity
            android:name=".Login.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignupActivity" />
        <activity android:name=".confirmPage">

        </activity>
        <activity android:name=".Sales_main">

        </activity>
        <activity android:name=".edit_customer"></activity>
        <activity android:name=".customer_view_edit">

        </activity>
    </application>

</manifest>